/* 
//////////////////////// 
Graphs and data styles

//////////////////////// 
*/

.siteGraphDisplay {
    float: left;
    margin: 20px;
}


.popup-title{
    box-sizing: border-box;
    padding: 0 0 6px 0;
    color: rgba(0,0,0,0.6);
    font-size: 9pt;
}

.popup-title {
	font-size: larger;
	font-weight: bold;
	text-align: left;
	/*font-family: 'Merriweather', serif;*/
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}


/* Report Modal Styling */
.report-map-image{
	display: flex;
	justify-content: center;
	padding-top: 15px;
}
#reviewMap canvas{
	width: 100% !important;
	height: auto !important;
	max-width: 600px !important;
}

/* Report graph section */
#rtgraphs{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.report-chart-wrapper{
	width: 48%;
	margin: 15px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
@media (max-width: 980px) {
	.report-chart-wrapper{
		width: 100%;
	}
}
.report-chart-wrapper.full-width{
	width: 100%;
	order: 1;
	margin: 5px 0;
}