html, body {
    height: 100%;
    overflow:hidden;
}

body {
    padding-top: 50px;
    background-image: url("../images/wimlogoCompact.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color:#474747;
}

/*
    ===========================
    ===========================
     USGS Search API overrides
    ===========================
    ===========================
*/

.search-bar {
    margin:0px;
    padding-left:0px;
}

#sapi-searchTextBox {
    font-family: 'Open Sans', sans-serif !important;
    width: 100% !important;
    height: 35px !important;
    padding: 6px 12px !important;
    margin-left: 0px !important;
    border-radius: 2px !important;
    border: 2px solid rgba(45, 49, 70, 0.23) !important;
}

.sapi .ui-autocomplete {
    font-family: 'Open Sans', sans-serif !important;
    border-radius: 4px !important;
}

.sapi-autocomplete-title {
    font-family: 'Open Sans', sans-serif !important;
    background-color : #2D3146 !important
}

.sapi-autocomplete-tip {
    font-family: 'Open Sans', sans-serif !important;
}

.sapi-autocomplete-category {
    font-family: 'Open Sans', sans-serif !important;
    background-color : #0071BC !important
}

.sapi-autocomplete-item {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 200 !important;
}

.sapi-autocomplete-item {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 200 !important;
}

.sapi-autocomplete-itemAnnotation {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: bold !important;
}

/*
    ===========================
    ===========================
     USGS Search API overrides
    ===========================
    ===========================
*/

.metMarker:before
{
    font-size: 20px;
    content: "●";
    color: #FF00FF;
}

.stormTideMarker:before
{
    font-size: 30px;
    content: "●";
    color: red;
}

.rdgMarker:before {
    font-size: 25px;
    content: "▲";
    color: green;
}

.waveHeightMarker:before {
    font-size: 30px;
    content: "■";
    color: purple;
}

.baroMarker:before {
    font-size: 30px;
    content: "♦";
    color: yellow;
}

.hwmMarker:before {
     font-size: 30px;
     content: "♦";
     color: #8B4513;
    border: black;
 }

.peakMarker:before {
    font-size: 30px;
    content: "♦";
    color: darkblue;
}

.nwisMarker:before {
    font-size: 25px;
    content: "▲";
    color: black;
}


/*removed when markerclustering removed */
/*.hwmClusterMarker div {*/
    /*display: inline-block !important;*/
    /*box-sizing: content-box;*/
    /*width: 30px;*/
    /*height: 30px;*/
    /*margin: 3px 0 0 30px;*/
    /*border: none;*/
    /*font: normal 100%/normal Arial, Helvetica, sans-serif;*/
    /*color: rgba(255,255,255,1);*/
    /*-o-text-overflow: clip;*/
    /*text-overflow: clip;*/
    /*background: rgba(139, 69, 19, 0.8);*/
    /*-webkit-transform: rotateZ(-45deg);*/
    /*transform: rotateZ(-45deg);*/
    /*-webkit-transform-origin: 0 100% 0;*/
    /*transform-origin: 0 100% 0;*/
/*}*/

/*.hwmClusterText div span {*/
    /*color: white;*/
    /*-webkit-transform: rotate(90deg);*/
    /*transform: rotate(90deg);*/
    /*display:inline-block;*/
/*}*/

#aboutNav {
    /*background-color: #474747;*/

    background: 0 0;
    border: none;
    line-height: 16px;
    /*padding-top: 0;*/
    /*padding-bottom: 0;*/
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    top: 2px;
    transition: .2s;
    color: rgba(255,255,255,.35);
}


#aboutNav{
    letter-spacing: 2px;
    position: relative; top: 2px;
    transition: 0.2s;
    color: rgba(255,255,255,0.35);
}
#aboutNav:hover{
    cursor: pointer;
    color: rgba(255,255,255,1);
    transition: 0.2s;
}
#aboutNav:focus{
    outline: none;
}

.keepit100 {
    height: 100%;
}

@media (max-width: 767px) {
    #geosearchButtonText {
        display: none;
    }

    #legendButtonNavBar {
        display: none;
    }

    /*.basemapThumb {*/
    /*display: none;*/
    /*}*/
}

.overflow-y-hidden {
    overflow-y: hidden;
}

@media (min-width: 768px) {
    #legendButtonSidebar {
        display: none;
    }
}

.basemapThumb {
    border:1px solid #ffffff;
    border-radius: 5px;
}

/*basemapBtn elements manually set to width of widest - temp solution until dynamic solution is implemented */
.basemapBtn, .filtersBtn {
    width: 86px;
    margin-bottom: 2px;
    padding:2px;
}

#sidebar .filtersBtn {
    border: none;
    outline: none;
    border-radius: 0;
    font-size: 9pt;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-sizing: border-box;
    padding: 5px;
    display: block;
    width: 100%;
    text-align: left;
    color: #6F758E;
    margin: 0 auto;
    border-left: 4px solid transparent;
}
#sidebar .filtersBtn img {
    height: 25px;
    vertical-align: middle;
    display: inline-block;
    margin: 0 15px 0 0;
    border-radius: 0;
    border: none;
}
#sidebar .filtersBtn br {
    display: none;
}
#sidebar .filtersBtn:hover {
    border-color: #333;
    background-color: rgba(236, 238, 243, 0.5);
}
#sidebar .filtersBtn:focus {
    background-color: #ECEEF3;
    border-color: #4574CC;
}

.esriSimpleSliderTL {
    top: 5px;
    left: 5px;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.8);
}

#homeButton {
    position: absolute;
    top: 75px;
    left: 5px;
    z-index: 50;
}

#locateButton {
    position: absolute;
    top: 115px;
    left: 5px;
    z-index: 50;
}

.hover-content {
    display:none;
}

.identification {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 9pt;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0 0 0 8px;
    opacity: .75;
    text-align: center;
    color: #6E7490;
}

.latLngScale {
    position:absolute;
    padding:4px;
    bottom:56px !important;
    left: 20px;
    /*width:250px*/
    /*height:320px;*/
    z-index:1;
    color: black;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 4px;
}

.latLngScale:hover .hover-content {
    display:inline-block;
}

.lyrTogDiv {
    width: 100%;
    padding: 1px;
    font-weight: bold;
}

.alert {
    margin-top: 0px;
    margin-bottom: 0px;
}

#legendDiv {
    overflow-y: auto;
    /*max-height: inherit;*/
}

#legendCollapse {
    /*max-height: inherit;*/
}

/*#legendElement {*/
/*position:absolute;*/
/*padding:4px;*/
/*top:1em;*/
/*right:10px;*/
/*z-index:1;*/
/*color: black;*/
/*background-color: rgb(255,255,255);*/
/*background-color: rgba(255,255,255,0.8);*/
/*box-shadow: 0 1px 5px rgba(0,0,0,0.65);*/
/*min-width: 200px;*/
/*border-radius: 4px;*/
/*overflow: auto;*/

/*}*/

.alert-info {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.legendClass {
    position:absolute;
    top:5px;
    right:5px;
    z-index:3;
    color: black;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    /*min-width: 150px;*/
    border-radius: 4px;
    text-align: left;
    line-height: 26px;
    margin-left: 0;
    margin-right:0;
    padding-left: 0;
    padding-right: 0;
}

.legendClass i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.legendHeading {
    color: black;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.8);
    text-decoration: none !important;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 10px;
    padding-left: 10px;
}

#legendButtonSidebar {
    width: 100%;
}

.legend-panel-body {
    width:100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.legend-item-panel{
    border-radius: 0;
}


.lgi-zoom {
    color: white;
    background-color: black;
    border: none !important;
    padding: 5px 5px !important;
}

a.lgi-zoom {
    color: white;
}

a.lgi-zoom:hover {
    color: black;
}

.lyrTog {
    width: 100%;
    padding: 1px;
    font-weight: bold;
}

.map {
    overflow: auto;
}

#mapDiv {
    min-height: 100%;
    max-height: 100%;
}

.opacity {
    padding-left: 10px;
}

.opacitySlider {
    position: absolute;
    color: white;
    width: 200px;
    padding: 10px;
    /*padding-bottom: 40px;*/
    opacity: 0.8;
    border: solid 1px white;
    background-color: black;
    z-index: 1000;
    border-radius: 5px;
}

.modal-dialog {
    padding-top: 60px;
}

.navbar-brand {
    padding:7px 4px;
}

.navbar-dark {
    border-width:0;
    background-color:#474747;
    color:#ffffff;
    font-family:arial,sans-serif;
    top:0;
    position:fixed;
    width:inherit;
}

.no-col-padding {
    padding: 0;
}

.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: gray;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}

.row-map {
    background: #eee;
}


[class*="col-"] {
    background-color: #eee;
    border: 1px solid #E7E7E7;
    text-align: center;
}

#wim_logo {
    background: #000 0 0;
    border-radius: 5px;
    width: 45px;
}

#wim_logo:hover{
    background: blue none repeat scroll 0 0;
    cursor: pointer;
}

.wim-sidebar-panel {
    margin-bottom: 2px;
}

#sidebar {
    top: 50px;
    padding-bottom: 50px;
}

#mapContainer {
    top:50px;
    position: fixed;
}
input[type="checkbox"], input[type="radio"] {
    float: left;
}

.zoomDialog {
    position: absolute;
    color: white;
    /*width: 200px;*/
    padding: 5px;
    /*padding-bottom: 40px;*/
    opacity: 0.9;
    border: solid 1px white;
    background-color: black;
    z-index: 1000;
    border-radius: 5px;
}

.zoomClose {
    color: white;
}

.filterItems{
    font-size: smaller;
    padding-top: 4px;
    padding-right: 5px;
    padding-bottom: 4px;
    padding-left: 5px;
    text-align: left;

}

.filterGroupTitle {
    font-size: small !important;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 2px;
    margin-top: 5px;
}


.filterForms {
    background-color: #FFFFFF !important;
    border: none !important;
    text-align: left !important;
}

.hiddenForm {
    display: none;
}

#sensorForm {
    display: block;
}

#legendElement {
    top: 0px !important;
}

.popup-title {
    font-size: larger;
    font-weight: bold;
    text-align: left;
}


/*Additions - Samuels 10/27*/
/*Sidebar*/
.event-name{
    color: #6F7192;
    font-size: 14pt;
    box-sizing: border-box;
    padding: 12px 0 0 0;
}
.event-name small{
    font-size: 9pt;
    box-sizing: border-box;
    padding: 0 0 5px 0;
    display: block;
    text-transform: uppercase;
    font-weight: 500;
}
.event-range{
    font-size: 10pt;
    font-weight: bolder;
    color: #6F7390;
    margin-bottom: 0;
    box-sizing: border-box;
    padding-bottom: 25px;
    border-bottom: 1px solid #DDDDDD;
}
.identification{
    display: block;
    box-sizing: border-box;
    padding: 25px 0 0 0;
    text-align: center;
}

.dropdown-toggle{
    box-sizing: border-box;
    padding: 10px;
    margin: 5px 0;
    display: block;
    width: 100%;
    background-color: #ECEEF3;
    border: 1px solid rgba(0,0,0,0.25);
    font-weight:bolder;
}

#sensorDownloadButtons .btn-group,
#hwmrDownloadButtons .btn-group,
#peaksDownloadButtons .btn-group{
    display: block;
    width: 100%;
}

.list-group{
    background-color: #ECEEF3;
}
.filterItems{
    background-color: transparent !important;
    padding-top:10px;
    padding-right:10px;
    padding-bottom:10px;
    padding-left:10px;
    font-size: 8pt;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: -0.25px;
    color: rgba(0,0,0,0.8);
}

.filterItems span{
    font-size: 10pt;
    text-transform: none;
    color: #000;
    letter-spacing: 0;
    box-sizing: border-box;
    padding: 0 0 1px 5px;
    vertical-align: middle;
    display: inline-block;
}



/*MAP LAYERS*/
#legendElement{
    margin-top: 10px;
}
.legend-panel-body input[type='checkbox']{
    position: relative;
    top: 5px;
    margin-right: 5px;
}

.esconder {
    display: none;
    /*visibility: hidden;*/
}

.nwisAlertClass {
    position:absolute;
    top:10px;
    left:45px;
    z-index:3;
    color: #333;
    background-color: #0089e5;
    border-color: #205493;
    opacity: 0.75;
    font-weight: bold;
    display: none;
}


.fade {
    opacity: 0.75;
    transition: opacity 0.15s linear;
}
.fade.out {
    opacity: 0;
}