/* 
///////////////////////////////////
///////////////////////////////////
Base.css
	Global Styles and page setup
///////////////////////////////////
///////////////////////////////////
*/

html, body {
    height: 100%;
    overflow:hidden;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
}
body {
    padding-top: 50px;
	background-color:#ffffff;
	color: black;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/*
///////////////
 Typography
//////////////
*/
/* Paragraphs */
p{
	font-size: 14px;
	letter-spacing: 0;
	line-height: 18px;
}
p.big{
	font-size: 16px;
	line-height-step: 22px;
}

/* Helpers */
.center{
	text-align:center;
}
.block{
	display: block !important;
}

.full-height {
    height: 100%;
}

.no-margin{
	margin: 0;
}

.hidden {
    display: none;
}
.defaultFIMAN {
    border: 1px solid black;
    height: 10px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 10px;
    display: block;
    overflow: hidden;
    position: absolute;
    margin-top: 6px;
}
.fimanLegend {
	float: left;
    margin-top: 3px;
    margin-left: 20px;
	margin-bottom: 3px;
	margin-right: 5px;
	border: 1px solid black;
    height: 6px;
    border-radius: 50%;
    width: 6px;
}
.fimanLabel {
	margin-left: 45px;
}
.fimanTitle {
	font-size: 13px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	font-weight: 500;
	line-height: 13px;
	margin-bottom: 3px;
}
.notAvailableFIMAN {
    background-color: black;
}
.normalFIMAN {
    background-color: greenyellow;
}
.nearFloodingFIMAN {
    background-color: yellow;
}
.minorFloodingFIMAN {
    background-color: orange;
}
.moderateFloodingFIMAN {
    background-color: red;
}
.majorFloodingFIMAN {
    background-color: rgb(197, 7, 197);
}








