html, body {
    height: 100%;
    overflow:hidden;
}

body {
    padding-top: 50px;
    background-image: url("../images/wimlogoCompact.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color:#474747;
    background-size: 169px 78px;
}

/*
    ===========================
    ===========================
     USGS Search API overrides
    ===========================
    ===========================
*/

/* .search-bar {
    margin:0px;
    padding-left:0px;
}

#sapi-searchTextBox {
    font-family: 'Open Sans', sans-serif !important;
    width: 100% !important;
    height: 35px !important;
    padding: 6px 12px !important;
    margin-left: 0px !important;
    border-radius: 2px !important;
    border: 2px solid rgba(45, 49, 70, 0.23) !important;
}

.sapi .ui-autocomplete {
    font-family: 'Open Sans', sans-serif !important;
    border-radius: 4px !important;
}

.sapi-autocomplete-title {
    font-family: 'Open Sans', sans-serif !important;
    background-color : #2D3146 !important
}

.sapi-autocomplete-tip {
    font-family: 'Open Sans', sans-serif !important;
}

.sapi-autocomplete-category {
    font-family: 'Open Sans', sans-serif !important;
    background-color : #0071BC !important
}

.sapi-autocomplete-item {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 200 !important;
}

.sapi-autocomplete-item {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 200 !important;
}

.sapi-autocomplete-itemAnnotation {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: bold !important;
} */

/*
    ===========================
    ===========================
     USGS Search API overrides
    ===========================
    ===========================
*/

/* below is CSS for older method of font-based symbology. not recommended - poor consistency across devices. deprecated in favor of image icons.
/*.metMarker:before*/
/*{*/
    /*font-size: 20px;*/
    /*content: "●";*/
    /*color: #FF00FF;*/
/*}*/

/*.stormTideMarker:before*/
/*{*/
    /*font-size: 30px;*/
    /*content: "●";*/
    /*color: red;*/
/*}*/

/*.rdgMarker:before {*/
    /*font-size: 25px;*/
    /*content: "▲";*/
    /*color: green;*/
/*}*/

/*.waveHeightMarker:before {*/
    /*font-size: 30px;*/
    /*content: "■";*/
    /*color: purple;*/
/*}*/

/*.baroMarker:before {*/
    /*font-size: 30px;*/
    /*content: "♦";*/
    /*color: yellow;*/
/*}*/

/*.hwmMarker:before {*/
     /*font-size: 30px;*/
     /*content: "♦";*/
     /*color: #8B4513;*/
    /*border: black;*/
 /*}*/

/*.peakMarker:before {*/
    /*font-size: 30px;*/
    /*content: "♦";*/
    /*color: darkblue;*/
/*}*/

/*.nwisMarker:before {*/
    /*font-size: 25px;*/
    /*content: "▲";*/
    /*color: black;*/
/*}*/
.dataSection {
    margin-top: 20px;
}
.progress-bar {
    width: calc(100% - 6px);
    height: 5px;
    background: #e0e0e0;
    padding: 3px;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}

.progress-bar-fill {
    display: block;
    height: 5px;
    background: #659cef;
    border-radius: 3px;
    /*transition: width 250ms ease-in-out;*/
    transition: width 30s ease-in-out;
}

#noaaToggle {
    position: relative; 
    margin-left: 6px;
}
#tractToggle {
    position: relative; 
    margin-left: 6px;
}
#parkBoundsToggle {
    position: relative; 
    margin-left: 6px;
}
#approvedFWSToggle {
    position: relative; 
    margin-left: 6px;
}
#doiToggle {
    position: relative; 
    margin-left: 6px;
}
#HWMToggle {
    position: relative; 
    margin-left: 6px;
}
#waveHeightToggle {
    position: relative; 
    margin-left: 6px;
}
#rdgToggle {
    position: relative; 
    margin-left: 6px;
}
#metToggle {
    position: relative; 
    margin-left: 6px;
}
#stormTideToggle {
    position: relative; 
    margin-left: 6px;
}
#baroToggle {
    position: relative; 
    margin-left: 6px;
}
#streamGageToggle {
    position: relative; 
    margin-left: 6px;
}
#streamGageToggle {
    position: relative; 
    margin-left: 6px;
}
#rainGageToggle {
    position: relative; 
    margin-left: 6px;
}
#npsNetToggle {
    position: relative; 
    margin-left: 6px;
}
#peaksToggle {
    position: relative; 
    margin-left: 6px;
}
#interestFWSToggle {
    position: relative; 
    margin-left: 6px;
}
.squareDiv {
    float: left;
    width: 14px;
    height: 14px;
    margin: 2px;
    border: .1px solid rgba(255, 255, 255, 0);
}
.squareDivInterest {
    float: left;
    width: 14px;
    height: 14px;
    margin-right: 3px;
    margin-top: 3px;
    margin-left: 20px;
    border: .1px solid rgba(255, 255, 255, 0);
}
.parkTractsColor{
    background: #0000cc;
    opacity: 0.65;
    border-color: #0000cc;
    Border-width: .1px;
}
.parkBoundsColor{
    background: #bee8ff;
    border-color: #bee8ff;
    Border-width: .1px;
}
.npsNetColor{
    border-color: orange;
    Border-width: 2px;
}
.approvedAquiColor{
    background: brown;
    border-color: brown;
    opacity: 0.65;
    Border-width: .1px
}
.interestBoundsColor{
    background: #bee8ff;
    border-color: #000;
    Border-width: .1px;
}
.doiRegionsColor{
    border-color: #209D64;
    Border-width: 2px;
}
.noaaCycloneColor{
    background: #ffffff;
    border-color: #000;
    Border-width: .1px;
}
.federalFeeColor{
    background: green;
}
.federalLessFeeColor{
    background: yellow;
}
.publicColor{
    background: orange;
}
.privateColor{
    background: blue;
}
.otherFederalColor{
    background:purple;
}
.aquisitionColor{
    background: pink;   
}
.noInfoColor{
    background: black;
}
.intFee {
    border-color: green;
    Border-width: 2px;
}
.intSecondary {
    border-color: purple;
    Border-width: 2px; 
}
.intEasement {
    border-color:orange;
    Border-width: 2px;
}
.intLease {
    border-color: yellow;
    Border-width: 2px;
}
.intAgreement {
    border-color:beige;
    Border-width: 2px;
}
.intPartial {
    border-color: blue;
    Border-width: 2px;
}
.intPermit {
    border-color: red;
    Border-width: 2px;
}
.intUnknown {
    border-color: black;
    Border-width: 2px;
}



.legendSwatch {
    width: 15px;
    height:15px;
}

.layerName {
    text-align: left;
    background-color: transparent;
    border: 0px solid transparent;
    box-shadow: none;
    color: #333333;
    font-weight: normal;
    font-size: 9pt;
    font-family: 'Open Sans', sans-serif;
    padding: 6px 10px;
    border-radius: 0;
    margin: 0 auto;
    letter-spacing: -0.45px;
    transition: 0.15s;
    border-left: 4px solid transparent;
}

#noTrackAdvisory{
    top: 3px;
    margin-left: 5px;
}
/*removed when markerclustering removed */
/*.hwmClusterMarker div {*/
    /*display: inline-block !important;*/
    /*box-sizing: content-box;*/
    /*width: 30px;*/
    /*height: 30px;*/
    /*margin: 3px 0 0 30px;*/
    /*border: none;*/
    /*font: normal 100%/normal Arial, Helvetica, sans-serif;*/
    /*color: rgba(255,255,255,1);*/
    /*-o-text-overflow: clip;*/
    /*text-overflow: clip;*/
    /*background: rgba(139, 69, 19, 0.8);*/
    /*-webkit-transform: rotateZ(-45deg);*/
    /*transform: rotateZ(-45deg);*/
    /*-webkit-transform-origin: 0 100% 0;*/
    /*transform-origin: 0 100% 0;*/
/*}*/

/*.hwmClusterText div span {*/
    /*color: white;*/
    /*-webkit-transform: rotate(90deg);*/
    /*transform: rotate(90deg);*/
    /*display:inline-block;*/
/*}*/

#aboutNav {
    /*background-color: #474747;*/

    background: 0 0;
    border: none;
    line-height: 16px;
    /*padding-top: 0;*/
    /*padding-bottom: 0;*/
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    top: 2px;
    transition: .2s;
    color: rgba(255,255,255,.35);
}
#search_container {
    display    : inline-block;
    width      : 300px;
    height     : 30px;
    padding    : 25px;
    padding-top: 5px;
    padding-left: 18px;
}
#search_container_filter {
    display    : inline-block;
    width      : 300px;
    height     : 30px;
    padding    : 25px;
    padding-top: 5px;
    padding-left: 18px;
}
#search_filter {
    display : inline-block;
    border: #000;
}
#aboutNav{
    letter-spacing: 2px;
    position: relative; top: 2px;
    transition: 0.2s;
    color: rgba(255,255,255,0.35);
}
#aboutNav:hover{
    cursor: pointer;
    color: rgba(255,255,255,1);
    transition: 0.2s;
}
#aboutNav:focus{
    outline: none;
}

.keepit100 {
    height: 100%;
}

@media (max-width: 767px) {
    #geosearchButtonText {
        display: none;
    }

    #legendButtonNavBar {
        display: none;
    }

    /*.basemapThumb {*/
    /*display: none;*/
    /*}*/
}

.overflow-y-hidden {
    overflow-y: hidden;
}

@media (min-width: 768px) {
    #legendButtonSidebar {
        display: none;
    }
}

.basemapThumb {
    border:1px solid #ffffff;
    border-radius: 5px;
}

/*basemapBtn elements manually set to width of widest - temp solution until dynamic solution is implemented */
.basemapBtn {
    width: 86px;
    margin-bottom: 2px;
    padding:2px;
}

#sidebar .filtersBtn {
    border: none;
    outline: none;
    border-radius: 0;
    font-size: 9pt;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-sizing: border-box;
    padding: 5px;
    display: block;
    /*width: 100%;*/
    text-align: left;
    color: #6F758E;
    margin: 0 auto;
    display: inline-block;
    float: right;
    border-left: 4px solid transparent;
}
#sidebar .filtersBtn img {
    height: 25px;
    vertical-align: middle;
    display: inline-block;
    margin: 0 15px 0 0;
    border-radius: 0;
    border: none;
}
#sidebar .filtersBtn br {
    display: none;
}
#sidebar .filtersBtn:hover {
    border-color: #333;
    background-color: rgba(236, 238, 243, 0.5);
}
#sidebar .filtersBtn:focus {
    background-color: #ECEEF3;
    border-color: #4574CC;
}

.esriSimpleSliderTL {
    top: 5px;
    left: 5px;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.8);
}

#homeButton {
    position: absolute;
    top: 75px;
    left: 5px;
    z-index: 50;
}

#locateButton {
    position: absolute;
    top: 115px;
    left: 5px;
    z-index: 50;
}

.hover-content {
    display:none;
}

.identification {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 9pt;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0 0 0 8px;
    opacity: .75;
    text-align: center;
    color: #6E7490;
}

.latLngScale {
    position:absolute;
    padding:4px;
    bottom:56px !important;
    left: 20px;
    /*width:250px*/
    /*height:320px;*/
    z-index:1;
    color: black;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 4px;
    cursor: pointer;
}

.latLngScale:hover .hover-content {
    display:inline-block;
}

.lyrTogDiv {
    width: 100%;
    padding: 1px;
    font-weight: bold;
}

.alert {
    margin-top: 0px;
    margin-bottom: 0px;
}

#legendDiv {
    overflow-y: auto;
    /*max-height: inherit;*/
}
#legendDivPanel {
    overflow-y: auto;
    /*max-height: inherit;*/
}

#legendCollapse {
    /*max-height: inherit;*/
}
#legendCollapsePanel {
    /*max-height: inherit;*/
}


/*#legendElement {*/
/*position:absolute;*/
/*padding:4px;*/
/*top:1em;*/
/*right:10px;*/
/*z-index:1;*/
/*color: black;*/
/*background-color: rgb(255,255,255);*/
/*background-color: rgba(255,255,255,0.8);*/
/*box-shadow: 0 1px 5px rgba(0,0,0,0.65);*/
/*min-width: 200px;*/
/*border-radius: 4px;*/
/*overflow: auto;*/

/*}*/

.alert-info {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.legendClass {
    position:absolute;
    top:5px;
    right:5px;
    z-index:3;
    color: black;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    /*min-width: 150px;*/
    border-radius: 4px;
    text-align: left;
    line-height: 26px;
    margin-left: 0;
    margin-right:0;
    padding-left: 0;
    padding-right: 0;
}

.legendClass i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.legendHeading {
    color: black;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.8);
    text-decoration: none !important;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 10px;
    padding-left: 10px;
}

#legendButtonSidebar {
    width: 100%;
}

.legend-panel-body {
    width:100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.legend-item-panel{
    border-radius: 0;
}



.lgi-zoom {
    color: white;
    background-color: black;
    border: none !important;
    padding: 5px 5px !important;
}

a.lgi-zoom {
    color: white;
}

a.lgi-zoom:hover {
    color: black;
}

.lyrTog {
    width: 100%;
    padding: 1px;
    font-weight: bold;
}

.map {
    overflow: auto;
}

#mapDiv {
    min-height: 100%;
    max-height: 100%;
}
#regionalMap {
    min-height: 100%;
    max-height: 100%;
}

.opacity {
    padding-left: 10px;
}

#bufferOptions {
    display: inline-block;
    height: 30px;
    padding: 0px 25px 25px 25px;
    margin-bottom: 10px;
}

#search {
    display : inline-block;
    border: #000;
    position: relative;
    left: -120px;
}

.opacitySlider {
    position: absolute;
    color: white;
    width: 200px;
    padding: 10px;
    /*padding-bottom: 40px;*/

    opacity: 0.8;
    border: solid 1px white;
    background-color: black;
    z-index: 1000;
    border-radius: 5px;
} 


.modal-dialog {
    padding-top: 60px;
}

.navbar-brand {
    padding:7px 4px;
}

.navbar-dark {
    border-width:0;
    background-color:#474747;
    color:#ffffff;
    font-family:arial,sans-serif;
    top:0;
    position:fixed;
    width:inherit;
}

.no-col-padding {
    padding: 0;
}

.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: gray;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}

.row-map {
    background: #eee;
}


[class*="col-"] {
    background-color: #eee;
    border: 1px solid #E7E7E7;
    text-align: center;
}

#wim_logo {
    background: #000 0 0;
    border-radius: 5px;
    width: 45px;
}

#wim_logo:hover{
    background: blue none repeat scroll 0 0;
    cursor: pointer;
}

.wim-sidebar-panel {
    margin-bottom: 2px;
}

#sidebar {
    top: 50px;
    padding-bottom: 50px;
}

#reviewMapContainer {
    display: -webkit-flex !important;
    display: flex !important;
    width: 100% !important;
    -webkit-justify-content: center;
    justify-content: center;
}

#reviewMap {
    /* width: 600px;
    height: 450px; */
    display: inline-block;
}

#legendImage {
    /* width: 600px;
    height: 450px; */
    display: inline-block;
    vertical-align: top;
}

.report-inline-block {
    display: inline-block;
}

.imageLoader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
  }

  .reportInfo {
      padding: 10px;
      width: 100%;
      margin: auto;
      display: inline-block;
  }

  #infoTable, th, td {
          padding: 8px;
          text-align: left;
          /* border-right: 1px solid #ddd; */
      }
  
/*#mapContainer {
    top:50px;
    position: fixed;
}*/
/* input[type="checkbox"], input[type="radio"] {
    float: left;
} */

.zoomDialog {
    position: absolute;
    color: white;
    /*width: 200px;*/
    padding: 5px;
    /*padding-bottom: 40px;*/
    opacity: 0.9;
    border: solid 1px white;
    background-color: black;
    z-index: 1000;
    border-radius: 5px;
}

.zoomClose {
    color: white;
}

.filterGroupTitle {
    font-size: small !important;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 2px;
    margin-top: 5px;
}


.filterForms {
    background-color: #FFFFFF !important;
    border: none !important;
    text-align: left !important;
}

.hiddenForm {
    display: none;
}

#sensorForm {
    display: block;
}

#legendElement {
    top: 0px !important;
}

.popup-title {
     font-size: larger;
     font-weight: bold;
     text-align: left;
     /*text-transform: uppercase;*/
     /*font-family: 'Merriweather', serif;*/
     font-family: 'Open Sans', sans-serif;
     font-weight: 700;
 }

.nwis-link {
    font-size: larger;
    font-weight: bold;
    text-align: left;
    /*text-transform: uppercase;*/
    /*font-family: 'Merriweather', serif;*/
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    cursor: pointer;
}

.rdg-nwis-info{
    font-weight: bold;
    text-align: left;
    /*text-transform: uppercase;*/
    /*font-family: 'Merriweather', serif;*/
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

/*Additions - Samuels 10/27*/
/*Sidebar*/
.event-name{
    color: #6F7192;
    font-size: 12.5pt;
    box-sizing: border-box;
    padding: 12px 0 0 0;
}
.event-name small{
    font-size: 9pt;
    box-sizing: border-box;
    color: #6F7192;
    padding: 0 0 7px 0;
    display: block;
    text-transform: uppercase;
    font-weight: bolder;
    opacity: 0.5;
}
.event-range{
    font-size: 10pt;
    font-weight: 500;
    opacity: 0.8;
    color: #6F7390;
    margin-bottom: 0;
    box-sizing: border-box;
    padding-bottom: 25px;
    border-bottom: 1px solid #DDDDDD;
}
.identification{
    display: block;
    box-sizing: border-box;
    padding: 25px 0 0 0;
    text-align: center;
}

.dropdown-toggle{
    box-sizing: border-box;
    padding: 10px;
    margin: 5px 0;
    display: block;
    width: 100%;
    background-color: #ECEEF3;
    border: 1px solid rgba(0,0,0,0.25);
    font-weight:bolder;
}

#sensorDownloadButtons .btn-group,
#hwmrDownloadButtons .btn-group,
#peaksDownloadButtons .btn-group{
    display: block;
    width: 100%;
}

.list-group{
    background-color: #ECEEF3;
}


.filterItems{
    font-size: smaller;
    padding-top: 4px;
    padding-right: 5px;
    padding-bottom: 4px;
    padding-left: 5px;
    text-align: left;
    background-color: transparent !important;
    /*font-size: 8pt; */
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: -0.25px;
    color: rgba(0,0,0,0.8);
    line-height: 1.5em;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.filterItems span{
    font-size: 10pt;
    text-transform: none;
    color: #000;
    letter-spacing: 0;
    box-sizing: border-box;
    padding: 2px 1px 2px 5px;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    top: -0.5px;
}
#locationGroupDiv label,
#hwmGroupDiv label,
#sensorsGroupDiv label,
#eventGroupDiv label{
    text-align: left !important;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 1px 0;
    margin: 0 auto;
}

.dismissbutton {
    display: inline-block;
    margin-bottom: 15px; 
    margin-left: 15px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: white;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    border-color: rgb(204, 204, 204);
}

.dismissbuttonfilter {
    float: left;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: white;
    white-space: nowrap;
    font-size: 14px;
    border-color: rgb(204, 204, 204);
}

#peakCheckboxReg {
    position: relative;
    display: inline-block;
    width: 0px;
    height: 0px;
    margin-right: 0px;
  }
  
  .peakCheckboxReg input { 
      
    opacity: 0;
    width: 0;
    height: 0;
  }

#peakCheckbox {
    position: relative;
    display: inline-block;
    width: 0px;
    height: 0px;
    margin-right: 0px;
  }
  
  .peakCheckbox input { 
      
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
  }


  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 18px;
  }
 
  .slider.round:before {
    border-radius: 50%;
  }
  
  #peakSizeCheck {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 18px;
    margin-right: 0px;
  }
  .peakSmall {
    width: 7px;
    height:10px;
    margin-left: 4px;
    margin-right: 4px;
}
.peakMedium {
    width: 11px;
    height:16px;
    margin-left: 2px;
    margin-right: 2px;
}
.peakLarge {
    width: 15px;
    height:22px;
}
  #peakSizeCheckReg {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 18px;
    margin-right: 0px;
  }

  #peakDataTable {
    margin: 15px;
  }

/*MAP LAYERS*/
#legendElement{
    margin-top: 10px;
}
.legend-panel-body input[type='checkbox']{
    position: relative;
    top: 5px;
    margin-right: 5px;
    color: rgba(0,0,0,0.7) !important;
}
.esconder {
    display: none;
    /*visibility: hidden;*/
}
.nwisAlertClass {
    position:absolute;
    top:10px;
    left:45px;
    z-index:3;
    color: #333;
    background-color: #0089e5;
    border-color: #205493;
    opacity: 0.75;
    font-weight: bold;
    display: none;
}

.rtScaleAlertClass {
    display: none;
    font-size: small;
    line-height: 100%;
}

.eventSelectAlert{
    display: none;
}
.parkRefSelectAlert{
    display: none;
}

.select {
    border-radius:0px !important;
}

#btnSubmitEvent {
    height: 34px;
    width: 50px;;
    background-color: #345EBD;
    border: 1px solid transparent;
    color: white;
    font-weight: 600;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: 0.2s;
    box-sizing: border-box;
}
#btnSubmitEvent:hover{
    cursor: pointer;
    background-color: #1E3668;
    transition: 0.2s;
}
#btnSubmitEvent_filter {
    float: right;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #345EBD;
    border: 1px solid transparent;
    white-space: nowrap;
    font-size: 14px;
}
#btnSubmitEvent_filter:hover{
    cursor: pointer;
    background-color: #1E3668;
    transition: 0.2s;
}

.select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    cursor: text;
    height: 34px;
}

.labelSpan {
    margin-right: 2px;
    margin-left: 2px;
}

.label {
    margin-left: 2px;
    margin-right: 2px;
}

.panel-title{
    border-top: 1px solid #E9EBF1;
    transition: 0.2s !important;
}
.panel-title:hover{
    background-color: rgba(0,0,0,0.05);
    border-top: 1px solid #D8D8D8;
    transition: 0.2s !important;
}

#btnChangeFilters{
    display: block;
    width: 100% !important;
    margin: 15px auto 15px auto;
    box-sizing: border-box;
    padding: 10px !important;
    transition: 0.2s;
    /*border-radius: 5px !important;*/
    text-align: center !important;
    background-color: #0071BC !important;
    color: #FFF !important;
    border-left: none !important;
    border: 2px solid #00568F !important;
    margin-bottom: 16px !important;
}
#btnChangeFilters:hover{
    cursor: pointer;
    transition: 0.2s !important;
    background-color: rgba(52,94,189, 0.8) !important;
}


.panel-body h3{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 14pt;
    font-weight: bolder;
    letter-spacing: -0.5px;
    color: rgba(0,0,0,0.75);
}


.labelSpan .label{
    background-color: white !important;
    color: rgba(0,0,0,0.8) !important;
    box-sizing: border-box !important;
    padding: 5px !important;
    font-size: 9pt !important;
    margin: 3px;
}


.modal-footer button{
    display: inline-block !important;
    box-sizing: border-box;
    font-weight: bolder !important;
    letter-spacing: 0.5px !important;
    padding: 12px 15px !important;
    color: rgba(0,0,0,0.8) !important;
    font-size: 10pt !important;
    transition: 0.2s !important;
    border-radius: 4px !important;
}
#btnSubmitFilters{
    color: white !important;
    font-weight: 500 !important;
    letter-spacing: 1px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

#btnClearFilters{
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.modal-footer .close{
    position: relative !important;
    top: 4px !important;
}
.modal-footer button:hover{
    transition: 0.2s !important;
}
.legendClass{
    border-radius: 4px !important;
}

.leaflet-control-layers-expanded{
    border: none !important;
    background-color: #FCFCFC !important;
    background: none !important;
    box-shadow: none !important;
}

#legendDiv p{
    display: block;
    box-sizing: border-box;
    padding: 8px 0 0 0;
    text-align: center;
    font-size: 8pt;
    color: rgba(0,0,0,0.5) !important;
    margin: 0 auto;
}
#legendDiv b{
    box-sizing: border-box;
    padding: 0 0 0 5px;
}
#legendDivPanel p{
    display: block;
    box-sizing: border-box;
    padding: 8px 0 0 0;
    text-align: center;
    font-size: 8pt;
    color: rgba(0,0,0,0.5) !important;
    margin: 0 auto;
}
#legendDivPanel b{
    box-sizing: border-box;
    padding: 0 0 0 5px;
}

.modal-content{
    border-radius: 3px !important;
}
h4.modal-title{
    font-weight: 300 !important;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    top: 5px;
   /* color: rgba(0,0,0,0.75) !important; */
    max-width: 90%
}
.modal-header button.close{
    position: relative;
    font-family: 'Arial', sans-serif;
    top: -5px;
}
input[type='checkbox']{
    margin-right: 5px;
    position: relative;
    top: -0.5px;
}

#sapi-searchTextBox{
    border: 1px solid rgba(0,0,0,0.3) !important;
}
#searchSubmit{
    padding: 6px 12px 7px 12px !important;
    font-weight: 600 !important;
    letter-spacing: 0.8px;
    background-color: #3C69C5 !important;
    color: rgba(255,255,255,1) !important;
    border: 1px solid transparent;
}

.mapSymbology{
    text-align: left;
    padding: 10px;
}


.modal-body .panel-default{
    border: none !important;
}

.modal-body .form-group label{
    text-transform: uppercase;
    font-size: 8pt;
    color: rgba(0,0,0,0.7);
}
.leaflet-control-layers-overlays label span i{
    text-align: center !important;
}

.popup-title{
    box-sizing: border-box;
    padding: 0 0 6px 0;
    text-transform: uppercase;
    color: rgba(0,0,0,0.6);
    font-size: 9pt;
}

.leaflet-popup-close-button{
    position: relative;
    top: 5px;
    right: 5px;
}

.leaflet-control-layers-overlays label input[type='checkbox']{
    top: 3px;
}
.leaflet-control-layers-overlays label span i{
    position: relative;
    top: -2px;
    width: 25px;
    margin: 0 auto;
    text-align: center;
}
.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td {
    padding: 2px;
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
}

.wim-table {
    font-family: 'Open Sans', sans-serif !important;
}

.data-disclaim {
    background: transparent;
}

.data-disclaim:hover {
    background:  #d3d3d3;
}

.esri-leaflet-logo {
    display:none !important;
}

#currentFiltersHeading{
    text-align: left;
    height: 37px;
    font-size: large;
    font-weight: 700;
    display: block;
    margin-top: 15px;
    /*float: left;*/
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

